/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Legacy compatibility */
.text-dark-2 {
	color: rgba(235, 235, 245, 0.3);
}

.bg-dark {
	background-color: #1e1e1e;
}

.border-t-dark-3 {
	border-top-color: rgba(84, 84, 88, 0.65);
}

.text-dark-1 {
	color: rgba(235, 235, 245, 0.6);
}

.bg-dark-2 {
	background-color: rgba(58, 58, 60, 0.75);
}
